/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
a{
    text-decoration: none;
    
}
.header{
    background: #00Bfff;
    color: #fff;
    border-bottom: 3px solid #1E90FF;
    display: flex;
    padding: 12px;
    justify-content: space-around;
    align-items: center;
}
h1{
    color: #fff;
}
.menu{
    display: flex;
}
.menu li{
    display: flex;
    list-style: none;
    border-left: 1px solid #fff;
    height: 20px;
    justify-content: center;
    align-items: center;
}
.menu li a{
    display: block;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
    transition: 0.5s;
}
.menu li a:hover{
   color: #8e8d8d;
   font-weight: bold;
}

.galeria-container{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    display: flex;
}
.card{
   width: 35%;
   margin: 1% 1%;
   padding: 30px;
   border-radius: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   
}
#texto-inicial{
    margin-top: 80px;
    color: #000;
    text-align: center;
    font-size: 2.2rem;  
}
h4{
    text-align: left;
    text-indent: 30px;
    font-family: "Arial";
    font-weight: 800;
    font-size: 1.2em;
    line-height: 40px;
    margin-top: 30px;
}
strong{
    color: #1E90FF;
}
#card-2{
    display: inline-block;
    width: 800px;
}
img{
    width: 1040px;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 8px 5px 5px  rgba(0, 0, 0, 0.8);
}
h3{
    margin: 10px;
    color: #000;
    position: relative;
    font-size: 30px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.btn{
    border: 2px solid black;
    margin: 10px;
    padding: 8px;
    border-radius: 5px;
    display: inline-block;
    width: 50px;
    font-size: 25px;
    transition: 0.6s;
}
.btn:hover{
    background: #00BFFF;
    color: #fff;
    border: 2px solid #00BFFF;
}
footer{
    background-color: #00BFFF;
    color: #fff;
    border-top: 3px solid #1E90FF;
    padding: 40px;
    text-align: center;
} */

*{margin:0;padding:0;box-sizing:border-box;font-family:Arial}a{text-decoration:none}.header{background:#00Bfff;color:#fff;border-bottom:3px solid #1E90FF;display:flex;padding:12px;justify-content:space-around;align-items:center}h1{color:#fff}.menu{display:flex}.menu li{display:flex;list-style:none;border-left:1px solid #fff;height:20px;justify-content:center;align-items:center}.menu li a{display:block;padding:10px;color:#fff;text-transform:uppercase;font-size:.8rem;font-weight:700;transition:.5s}.menu li a:hover{color:#8e8d8d;font-weight:700}.galeria-container{max-width:1200px;margin:0 auto;text-align:center;display:flex}.card{width:35%;margin:1%;padding:30px;border-radius:20px;display:flex;align-items:center;justify-content:center}#texto-inicial{margin-top:80px;color:#000;text-align:center;font-size:2.2rem}h4{text-align:left;text-indent:30px;font-family:"Arial";font-weight:800;font-size:1.2em;line-height:40px;margin-top:30px}strong{color:#1E90FF}#card-2{display:inline-block;width:800px}img{width:1040px;max-width:100%;border-radius:10px;box-shadow:8px 5px 5px rgba(0,0,0,0.8)}h3{margin:10px;color:#000;position:relative;font-size:30px;text-shadow:1px 1px 2px rgba(0,0,0,0.5)}.btn{border:2px solid #000;margin:10px;padding:8px;border-radius:5px;display:inline-block;width:50px;font-size:25px;transition:.6s}.btn:hover{background:#00BFFF;color:#fff;border:2px solid #00BFFF}footer{background-color:#00BFFF;color:#fff;border-top:3px solid #1E90FF;padding:40px;text-align:center}