*{margin:0;padding:0;box-sizing:border-box;font-family:Arial}header{background-color:#00BFFF;color:#fff;padding:12px;border-bottom:3px solid #1E90FF;display:flex;justify-content:space-around;align-items:center}a{text-decoration:none}.nav-item{display:flex}.nav-item .nav-link{display:flex;list-style:none;border-left:1px solid #fff;height:20px;justify-content:center;align-items:center}.nav-item .nav-link a{display:block;padding:10px;color:#fff;text-transform:uppercase;font-size:.8rem;font-weight:700;transition:.5s}.nav-item .nav-link a:hover{color:#8e8d8d}.container{background-color:#EEE;min-width:60vh;padding:50px}.galeria-container{max-width:1200px;margin:0 auto}.card{width:31%;display:inline-block;margin:1%;padding:15px}.galeria-imagen{height:300px;width:100%;margin-bottom:10px;background-position:center;background-size:cover}#img-1{background-image:url(../img/imagem1.jpg)}#img-2{background-image:url(../img/imagem2.jpg)}#img-3{background-image:url(../img/imagem3.jpg)}#img-4{background-image:url(../img/imagem4.jpg)}#img-5{background-image:url(../img/imagem5.jpg)}#img-6{background-image:url(../img/imagem6.jpg)}footer{background-color:#00BFFF;color:#fff;border-top:3px solid #1E90FF;padding:40px;text-align:center}h3{margin-bottom:10px;color:#00BFFF;border-left:5px solid #1E90FF;padding-left:7px;font-size:24px}.card p{margin-bottom:10px}.bold{font-weight:700}.btn{display:block;width:100%;text-align:center;text-transform:uppercase;text-decoration:none;background-color:#00BFFF;color:#fff;padding:15px;border-radius:5px;transition:.5s}.btn:hover{background-color:#1E90FF}


/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
} */

/*Barra de navegação*/

/* header{
    background-color: #00BFFF;
    color: #fff;
    padding: 12px; */
    /* text-align: left; */
    /* border-bottom: 3px solid 	#1E90FF;
    display: flex;
    justify-content: space-around;
    align-items: center;
} */
/* a{
    text-decoration: none; */
    /* border-left: 1px solid #fff; */
/* } */
/* .nav-item{
    display: flex;
    
}
.nav-item .nav-link{
    display: flex;
    list-style: none;
    border-left: 1px solid #ffffff;
    height: 20px;
    justify-content: center;
    align-items: center;
}
.nav-item .nav-link a{
    display: block;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
    transition: 0.5s;
}
.nav-item .nav-link a:hover{
    color:#8e8d8d;
} */
/* .navbar .nav-item{
    list-style: none;
    text-align: right;
}
.navbar .nav-item .nav-link{
    display: inline-block;
}
.navbar .nav-item .nav-link a{
    display: block;
    text-decoration: none;
    color: #fff;
    margin-left: 6px;
    padding-left: 12px;
    border-left: 2px solid #fff;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.5s;

}
.navbar .nav-item .nav-link a:hover{
    color: #1E90FF;
} */



/* Card de produtos */

/* .container{
    background-color: #EEE;
    min-width: 60vh;
    padding: 50px;
} */
/* seção */
/* .galeria-container{
    max-width: 1200px;
    margin: 0 auto;
} */

/* Card*/

/* .card{
    width: 31%;
    display: inline-block;
    margin: 1% 1%;
    padding: 15px;
} */

/* div das imagens */

/* .galeria-imagen{
    height: 300px;
    width: 100%;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
} */

/* imagens do site*/

/* #img-1{
    background-image: url(../img/imagem1.jpg);
}
#img-2{
    background-image: url(../img/imagem2.jpg);
}
#img-3{
    background-image: url(../img/imagem3.jpg);
}
#img-4{
    background-image: url(../img/imagem4.jpg);
}
#img-5{
    background-image: url(../img/imagem5.jpg);
}
#img-6{
    background-image: url(../img/imagem6.jpg);
} */

/*Rodapé .... footer*/

/* footer{
    background-color: #00BFFF;
    color: #fff;
    border-top: 3px solid #1E90FF;
    padding: 40px;
    text-align: center;
} */

/* h3{
    margin-bottom: 10px;
    color: #00BFFF;
    border-left: 5px solid #1E90FF;
    padding-left: 7px;
    font-size: 24px;
} */

/* .card p{
    margin-bottom: 10px;
} */
/* .bold{
    font-weight: bold;
}
.btn{
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #00BFFF;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    transition: 0.5s;
}
.btn:hover{
    background-color: #1E90FF;
} */